parameters:
  level: 0   # nível mínimo para não reportar nada
  paths:
    - app

  ignoreErrors:
    - '#.*#'   # ignora todos os erros (regex que casa tudo)

  excludePaths:
    - tests/*
    - app/views/*
    - tests/Acceptance/_output/*
    - tests/Support/_generated/*
    - tests/Support/Data/*
